body {
  background-color: #292729;
  margin: 0;
}

.example {
  text-align: center;
  margin: 30px auto;
}

.example input {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.example input {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 30px;
  line-height: 40px;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #eee;
  outline: none;
  border-radius: 5px;
  text-align: center;
  transition: box-shadow 250ms ease-in;
  -o-transition: box-shadow 250ms ease-in;
  -moz-transition: box-shadow 250ms ease-in;
  -webkit-transition: box-shadow 250ms ease-in;
}
